header{
  align-items: center;
  color: $text-color--light;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  user-select: none;

  .header-logo{
    align-items: center;
    display: flex;
    img{
      margin-right: 1rem;
    }
  }

  .header-contact{
    cursor: pointer;

    a{
      display: flex;
      align-items: center;
    }

    &:hover > a > .header-contact-text{
      opacity: 0.75;
      @include translate(-1rem);
    }
    .header-contact-text{
      font-size: 1.5rem;
      opacity: 0;
      transition: all 1s;
    }
  }
}